.text {
    text-transform: uppercase;
    background: linear-gradient(to right, #e71493  0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }
  .ant-pagination-item{
    border-radius: 20px;
  }