<div>
  <div [hidden]="!show">

    <div class="cui__utils__heading">
      <strong style="margin-left: 37px;font-size: 23px;font-family: 'Poppins', sans-serif;">Products</strong>
    </div>

    <div class="card col-lg-12" style="border-radius:39px;">
      <div class="card-header card-header-flex">

        <div class="d-flex flex-column justify-content-center mr-auto">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="Search Products" [(ngModel)]="term" (input)="filtersearch()"
              style="width: 468px;" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
          </ng-template>
        </div>

        <div class="col-sm-auto row">
          <div class="mx-5 py-3">
            <a class="btn btn-success" (click)="openDetailpopup(contentdetail1)" href="javascript: void(0);"
              style="margin-right:-46px; width: 100px;">
              Import
            </a>
          </div>
          <div class="mx-5 py-3">
            <a class="btn btn-success" (click)="toAddProduct()" href="javascript: void(0);">
              + Add Product
            </a>
          </div>
          <div class="mx-5 py-3">
            <a class="btn btn-success" href="javascript: void(0);" style="margin-left: -47px;
          width: 100px;">
              Export
            </a>
          </div>
          <div class="form-group row py-3 mr-5">
            <strong class="p-2" style="font-size: medium;">Show Inactive :</strong>
            <input type="checkbox" style=" width: 18px; height: calc(1.5em + 0.75rem + 2px);"
              (change)="changefilter($event.target.checked)">
          </div>
        </div>

      </div>

      <nz-table #basicTable class="kit__utils__table mb-4" nzSize="small" [nzData]="prod">
        <thead>
          <tr>
            <th><strong>Name</strong></th>
            <th><strong>Description</strong></th>
            <th><strong>Category</strong></th>
            <th><strong>Tax Group</strong></th>
            <th><strong>Price</strong></th>
            <th><strong>Active</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of basicTable.data ">

            <!-- <td class="font-13"><span style="width: 13px;height: 10px;" *ngIf="product?.productTypeId == 1"
                class="badge badge-success badge-outline mr-2"><span
                  class="badge badge-success badge-indicator"></span></span>
              <span style="width: 13px;height: 10px;" *ngIf="product?.productTypeId  == 2"
                class="badge badge-danger badge-outline mr-2"><span
                  class="badge badge-danger badge-indicator"></span></span>
              <span style="width: 13px;height: 10px;" *ngIf="product?.productTypeId  == 4"
                class="badge badge-secondary badge-outline mr-2"><span
                  class="badge badge-secondary badge-indicator"></span></span>
              <span style="width: 13px;height: 10px;" *ngIf=" product?.productTypeId  == 3"
                class="badge badge-warning badge-outline mr-2"><span
                  class="badge badge-warning badge-indicator"></span></span>
              <strong> <a class="btn btn-sm btn-light" (click)="getproduct(product.id)" (click)="show = !show"
                  style="color: #1ebccd !important;font-size:16px;">
                  {{product.name}}</a>
              </strong>
            </td> -->
            <td class="font-13">
              <span *ngIf="product.productTypeId == 1" class="badge border border-success" style="width: 20px;
                height: 20px;">
                <nz-badge nzStatus="success" style="margin-left:2px ;"></nz-badge>
              </span>
              <span *ngIf="product.productTypeId == 2" class="badge border border-danger" style="width: 20px;
              height: 20px;">
                <nz-badge nzStatus="error" style="margin-left:2px ;"></nz-badge>
              </span>
              <span *ngIf="product.productTypeId == 4" class="badge border border-secondary" style="width: 20px;
              height: 20px;">
                <nz-badge nzColor="#108ee9" style="margin-left:2px ;"></nz-badge>
              </span>
              <span *ngIf="product.productTypeId == 3" class="badge border border-warning" style="width: 20px;
              height: 20px;">
                <nz-badge nzStatus="warning" style="margin-left:2px ;"></nz-badge>
              </span>
              <strong> <a class="btn btn-sm btn-light" (click)="getproduct(product.id)" (click)="show = !show"
                  style="color: #05b40e !important;font-size:16px;">
                  {{product.name}}</a>
              </strong>
            </td>
            <!-- <td>
              <a class="btn btn-sm btn-light" (click)="getproduct(product.id)" (click)="show = !show"> {{product.name}}
              </a>
            </td> -->
            <td>{{product?.description}}</td>
            <td>{{product?.category?.description}}</td>
            <td>{{product?.taxGroup?.description}}</td>
            <td>&#8377; {{product?.price}}</td>
            <td>
              <a class="px-10">
                <input type="checkbox" [(ngModel)]="product.isactive" (click)="active(product.id,!product.isactive)">
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <div [hidden]="show" *ngIf="product" class="card" style="background-color: #f9f9f9;">
    <div class="container-fluid py-4">
      <form name="form" autocomplete="false" id="prodForm" #f="ngForm" novalidate>
        <div class="row">
          <!-- <div class="col-lg-12"> -->
          <div class="col-6">
            <strong *ngIf="!(product.id > 0)" class="text"
              style="margin-left: 37px;font-size: 23px;font-family: 'Poppins', sans-serif;">Add Product</strong>
            <strong *ngIf="product.id > 0" style="margin-left: 30px;"> <strong>Edit Product:</strong>
              <a class="btn btn-sm btn-light" href="javascript: void(0);" class="text"
                style="margin-left: 5px;font-size: 23px;font-family: 'Poppins', sans-serif;">
                {{product?.description}}
              </a> </strong>
          </div>

          <div class="col-6">
            <button class="btn btn-secondary btn-sm mx-10 w-10" (click)="back()"
              style="margin-left: 405px; padding: inherit; height: 34px;"><i nz-icon nzType="left"
                style="margin-right: 6px;"></i>Back</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-success btn-sm mx-10 w-10" style="  height: 34px;margin-left: 41px;"
              (click)="focus();products1.categoryId != 0&&f.form.valid && saveProduct()">Save
              Product</button>
          </div>

        </div>

        <div class="row mt-4" *ngIf="products1">
          <div class="col-lg-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="font-weight-bolder">Product Image</h5>
                <div class="row">
                  <div class="col-10">

                    <!-- <img class="mt-20" style="border-radius: 25px;" height=auto width="350">
                    <button class="btn"></button>

                    <img id="droppedimage" class="mt-20" style="border-radius: 25px;" height=auto width="350">
                    <button class="btn" type="button"></button> -->

                    <img class="w-100 border-radius-lg shadow-lg mt-3" id="noimage"
                      src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/product-page.jpg"
                      alt="product_image"><br>

                  </div>

                </div>
                <div id="imageupload" class="fileupload" appDragDropFileUpload (click)="fileField.click()"
                  (fileDropped)="upload($event)">
                  <span class="ddinfo">Choose a file or drag here</span>
                  <input type="file" accept="image/*" name="avatars" #fileField (change)="upload($event.target.files)"
                    hidden multiple>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 mt-lg-0 mt-4">

            <div class="card" style="margin-bottom: 0;">
              <div class="card-body">
                <h5 class="font-weight-bolder">Product Information</h5>
                <div class="row">
                  <div class="col-md-3 mt-15" *ngFor="let item of productTypes">
                    <div class="custom-control custom-radio mb-5">
                      <input type="radio" [(ngModel)]="products1.ProductTypeId" [value]="item.id" id="{{item.id}}"
                        name="{{item.description}}" class="custom-control-input">
                      <label class="custom-control-label" for="{{item.id}}">{{item.description}}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">

                    <label for="firstName"><strong>Product Name<span class="text-danger">*</span></strong></label>
                    <input type="text" class="form-control" placeholder="Enter Product Name" name="name"
                      autocomplete="false" [(ngModel)]="products1.Name" #name="ngModel"
                      [ngClass]="{'is-invalid': f.submitted && name.invalid}" required />
                    <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                      <div *ngIf="name.errors.required">Product Name is required</div>
                    </div>

                    <!-- <label>Name</label>
                <input class="form-control" type="text" value="Minimal Bar Stool" onfocus="focused(this)"
                  onfocusout="defocused(this)"> -->
                  </div>
                  <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                    <label for="firstName"><strong>Barcode<span class="text-danger"></span></strong></label>
                    <input type="text" class="form-control" placeholder="Enter Product Barcode" name="barcode"
                      autocomplete="false" [(ngModel)]="products1.Barcode" />
                    <div>

                    </div>
                  </div>
                </div> <br>
                <div class="row">
                  <div class="col-3">
                    <label for="firstName"><strong>Description<span class="text-danger">*</span></strong></label>
                    <textarea class="form-control mt-15" name="description" [(ngModel)]="products1.Description" rows="3"
                      #description="ngModel" placeholder="Textarea"></textarea>
                    <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
                      <div *ngIf="description.errors.required">Description is required</div>
                    </div>
                  </div>
                  <div class="col-3">
                    <label for="firstName"><strong>Product Code</strong></label>
                    <input type="text" class="form-control" placeholder="Enter Product Code" name="productCode"
                      autocomplete="false" [(ngModel)]="products1.ProductCode" #productCode="ngModel" />
                  </div>
                  <div class="col-3">
                    <label for="firstName"><strong>Sort Order</strong></label>
                    <input type="number" class="form-control" placeholder="Enter Product SortOrder" name="sortOrder"
                      [(ngModel)]="products1.SortOrder" #sortOrder="ngModel"
                      [ngClass]="{'is-invalid':f.submitted && sortOrder.invalid}" required />
                    <div *ngIf="sortOrder.invalid" class="invalid-feedback">
                      <div *ngIf="sortOrder.errors.required">SortOrder can't be empty!</div>
                    </div>
                  </div>
                </div><br>
                <div class="row">

                  <div class="col-sm-6">
                    <label for="firstName"><strong>Category</strong></label>
                    <select class="form-control custom-select" [(ngModel)]="products1.CategoryId"
                      [ngModelOptions]="{standalone: true}" name="categoryName"
                      [ngClass]="{'is-invalid': f.submitted && products1.CategoryId  == 0}">
                      <option value="0">Select Category</option>
                      <option *ngFor="let item of categories" value="{{item.id}}">{{item.description}}</option>
                    </select>
                    <div *ngIf="f.submitted && products1.CategoryId  == 0" class="invalid-feedback">
                      <div *ngIf="products1.CategoryId  == 0">Product Name is required</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                    <label for="firstName"><strong>TaxGroup</strong></label>
                    <select class="form-control custom-select" [(ngModel)]="products1.TaxGroupId"
                      [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let item of taxgroups" value="{{item.id}}">{{item.description}}</option>
                    </select>
                  </div>
                </div><br>
                <div class="row">

                  <div class="col-sm-6">
                    <label for="firstName"><strong>Unit</strong></label>
                    <select class="form-control custom-select" [(ngModel)]="products1.UnitId"
                      [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let item of units" value="{{item.id}}">{{item.description}}</option>
                    </select>
                  </div>
                  <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                    <label for="firstName"><strong>KOT Group</strong></label>
                    <select class="form-control custom-select">
                      <option value=0>No KOT Group</option>
                      <option></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>

        <div class="row mt-4">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body" *ngIf="products1"> 
                <h5 class="font-weight-bolder">Option Groups</h5> <br>

                <div class="row">

                  <div class="col-4">
                    <strong>Recommended</strong>
                    <div class="col-sm-6" style="margin-top: 10px;margin-left: 30px;">
                      <input type="checkbox" placeholder="Enter Product Recomended" name="Recomended"
                        [(ngModel)]="products1.Recomended" #Recomended="ngModel" />
                    </div>
                  </div>
                  <div class="col-4">
                    <strong>&nbsp; IsSaleProdGroup</strong>
                    <div class="col-sm-6" style="margin-top: 10px;margin-left: 30px;">
                      <input type="checkbox" placeholder="Enter" name="isSaleProdGroup"
                        [(ngModel)]="products1.IsSaleProdGroup" #isSaleProdGroup="ngModel" />
                    </div>
                  </div>
                  <div class="col-4">
                    <strong>&nbsp; StockMaintained</strong>
                    <div class="col-sm-6" style="margin-top: 10px;margin-left: 30px;">
                      <input type="checkbox" placeholder="Enter" name="isStockMaintained"
                        [(ngModel)]="products1.IsStockMaintained" #isStockMaintained="ngModel" />
                    </div>
                  </div> <br>
                </div><br>

                <div class="row">
                  <div class="col-12">
                    <strong>Select Option Group</strong>
                    <ng-multiselect-dropdown class="multiselect-dropdown dropdown-btn" #multiSelect
                      [placeholder]="'Select OptionGroup'" [(ngModel)]="selectedItems" name="optionGroups"
                      [data]="products.optionGroups" [settings]="settings" [disabled]="false"
                      (onFilterChange)="onFilterChange($event)" (onSelect)="onItemSelect($event)"
                      (onDeSelect)="onDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                      (onDeSelectAll)="onDeSelectAll($event)">
                    </ng-multiselect-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 mt-sm-0 mt-4" *ngIf="products1">
            <div class="card">
              <div class="card-body">
                <h5 class="font-weight-bolder">Pricing</h5> <br>
                <div class="row">

                  <div class="col-4">
                    <strong>Min Quantity</strong>
                    <input type="number" class="form-control" placeholder="Enter Product minquantity" name="minquantity"
                      [(ngModel)]="products1.minquantity" #minquantity="ngModel" />

                  </div>
                  <div class="col-5">
                    <strong>Min Block</strong>
                    <input type="number" class="form-control" placeholder="Enter Product minblock" name="minblock"
                      [(ngModel)]="products1.minblock" #minblock="ngModel" />
                  </div>
                </div><br>
                <div class="row">
                  <!-- <div class="col-12"> -->
                  <div class="col-3">
                    <strong>Dine Price</strong>
                    <input type="number" class="form-control" placeholder="Enter Product Price" name="Price"
                      [(ngModel)]="products1.Price" #Price="ngModel"
                      [ngClass]="{'is-invalid':f.submitted && Price.invalid}" required />
                    <div *ngIf="Price.invalid" class="invalid-feedback">
                      <div *ngIf="Price.errors.required">Price can't be empty!</div>
                    </div>
                  </div>

                  <div class="col-3">
                    <strong>Takeaway Price</strong>
                    <input type="number" class="form-control" placeholder="Enter Product Price" name="Price"
                      [(ngModel)]="products1.TakeawayPrice" #TakeawayPrice="ngModel"
                      [ngClass]="{'is-invalid':f.submitted && TakeawayPrice.invalid}" required />
                    <div *ngIf="TakeawayPrice.invalid" class="invalid-feedback">
                      <div *ngIf="TakeawayPrice.errors.required">Price can't be empty!</div>
                    </div>
                  </div>
                  <div class="col-3">
                    <strong>Delivery Price</strong>
                    <input type="number" class="form-control" placeholder="Enter Product Price" name="Price"
                      [(ngModel)]="products1.DeliveryPrice" #DeliveryPrice="ngModel"
                      [ngClass]="{'is-invalid':f.submitted && DeliveryPrice.invalid}" required />
                    <div *ngIf="DeliveryPrice.invalid" class="invalid-feedback">
                      <div *ngIf="DeliveryPrice.errors.required">Price can't be empty!</div>
                    </div>
                  </div>
                  <div class="col-3">
                    <strong>Up Price</strong>
                    <input type="number" class="form-control" placeholder="Enter Product Price" name="Price"
                      [(ngModel)]="products1.UPPrice" #UPPrice="ngModel"
                      [ngClass]="{'is-invalid':f.submitted && UPPrice.invalid}" required />
                    <div *ngIf="UPPrice.invalid" class="invalid-feedback">
                      <div *ngIf="UPPrice.errors.required">Price can't be empty!</div>
                    </div>
                    <!-- </div> -->
                  </div>
                </div> <br>

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>


  <ng-template #contentdetail1 let-modal>
    <div class="modal d-block position-static overflow-show" tabindex="-1" role="dialog">
      <div class="modal-dialog ma-0" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <input type="file" class="btn-text" accept=".csv" (change)="csv2Array($event)" placeholder="Upload file">

          </div>
          <div class="modal-footer">
            <button class="btn btn-success btn-sm mx-10 w-20" (click)="Upload();modal.close()">Upload</button>
            <button class="btn btn-danger btn-sm mx-10 w-20" (click)="modal.close()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </ng-template>

  <!-- <ng-template #contentDetail1 let-modal>
    <div class="modal d-block position-static overflow-show" tabindex="-1" role="dialog">
      <div class="modal-dialog ma-0" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Option Group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
              (click)="modal.close('Save click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <select #qwerty class="form-control custom-select" (change)="OptionGroupId1 = $event.target.value">
              <option *ngFor="let item of getOptionGroups(); let pointIndex=index" value="{{item.id}}"
                id="{{pointIndex}}">{{item.name}}</option>
            </select>
          </div>
          <div class="modal-body" *ngFor="let item of getOption(OptionGroupId1); let i=index">
            <div class="col-sm-3">
              <input type="checkbox" (change)="selectOption($event,item)" [checked]="item.checked" />
              <strong class="text-light">{{item.name}}</strong>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger btn-sm mx-10 w-20" data-dismiss="modal"
              (click)="modal.close('Save click')">Close</button>
            <button class="btn btn-success btn-sm mx-10 w-20"
              (click)="saveGroup(OptionGroupId1);modal.close('Save click')">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template> -->


  <ng-template #contentDetail2 let-modal>
    <div class="modal d-block position-static overflow-show" tabindex="-1" role="dialog">
      <div class="modal-dialog ma-0" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Options</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <input>
              <label></label>
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #contentDetail3 let-modal>
    <div class="modal d-block position-static overflow-show" tabindex="-1" role="dialog">
      <div class="modal-dialog ma-0" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Addon Group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <select #qwerty class="form-control custom-select">
              <option>
              </option>
            </select>
          </div>
          <div class="modal-body">
            <div class="col-sm-3">
              <input type="checkbox" />
              <strong></strong>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger btn-sm mx-10 w-20" data-dismiss="modal">Close</button>
            <button class="btn btn-success btn-sm mx-10 w-20">Save
              changes</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #contentDetail4 let-modal>
    <div class="modal d-block position-static overflow-show" tabindex="-1" role="dialog">
      <div class="modal-dialog ma-0" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Addon Group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="col-sm-3">
              <input type="checkbox" />
              <strong></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template #PopUp let-modal>
    <div class="modal d-block position-static overflow-show" tabindex="-1" role="dialog">
      <div class="modal-dialog ma-0" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Warning!!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Do you want to overwrite Optiongroups?</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger btn-sm mx-10 w-20">No</button>
            <button class="btn btn-success btn-sm mx-10 w-20">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>






<!-- <div class="row mt-4">
  <div class="col-lg-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="font-weight-bolder">Product Image</h5>
        <div class="row">
          <div class="col-12">
            <img class="w-100 border-radius-lg shadow-lg mt-3"
              src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/product-page.jpg"
              alt="product_image">
          </div>
          <div class="col-12 mt-5">
            <div class="d-flex">
              <button class="btn btn-primary btn-sm mb-0 me-2" type="button" name="button">Edit</button>
              <button class="btn btn-outline-dark btn-sm mb-0" type="button" name="button">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 mt-lg-0 mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="font-weight-bolder">Product Information</h5>
        <div class="row">
          <div class="col-12 col-sm-6">
            <label>Name</label>
            <input class="form-control" type="text" value="Minimal Bar Stool" onfocus="focused(this)"
              onfocusout="defocused(this)">
          </div>
          <div class="col-12 col-sm-6 mt-3 mt-sm-0">
            <label>Weight</label>
            <input class="form-control" type="number" value="2" onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label class="mt-4">Collection</label>
            <input class="form-control" type="text" value="Summer" onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
          <div class="col-3">
            <label class="mt-4">Price</label>
            <input class="form-control" type="text" value="$90" onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
          <div class="col-3">
            <label class="mt-4">Quantity</label>
            <input class="form-control" type="number" value="50" onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
        </div>
        <div class="row">

          <div class="col-sm-6">
            <label class="mt-4">Category</label>
            <div class="choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true"
              aria-expanded="false">


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->