<div>
  <div [hidden]="!show">
    <div class="cui__utils__heading">
      <strong style="margin-left: 37px;font-size: 23px;font-family: 'Poppins', sans-serif;">Category</strong>
    </div>


    <div class="card col-lg-12" style="border-radius:39px;">
      <div class="card-header card-header-flex">

        <div class="d-flex flex-column justify-content-center mr-auto" style="width: 335px;">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" [(ngModel)]="term" nz-input placeholder="input search text" (input)="filtersearch()" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
          </ng-template>
        </div>
        <div class="col-sm-auto row">

          <div class="mx-5 py-3">
            <a (click)="show = !show" class="btn btn-success" style="margin-top: 10px;">
              + Add Category
            </a>
          </div>
          <div class="form-group row py-3 mr-5" style="margin-top: 9px;">
            <label for="username" class="p-2" style="font-size: medium;">Show Inactive :</label>
            <input type="checkbox" style=" width: 18px; height: calc(1.5em + 0.75rem + 2px);"
              (change)="changefilter($event.target.checked)">
          </div>
        </div>

      </div>

      <nz-table #basicTable class="kit__utils__table mb-4" nzSize="small" [nzData]="Category">
        <thead>
          <tr>
            <th><strong>Category</strong>
            </th>
            <th><strong> Parent Category</strong>
            </th>

            <th><strong> Action</strong>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of basicTable.data| filter:term">
            <td>
              <a (click)="getcategorybyid(category.id) " class="btn btn-sm btn-light kit__utils__donut--primary">
                <strong style=" color: #05b40e;
                font-size: 13px;"> {{category.description}}</strong>
              </a>
            </td>
            <td>
              {{category.parentCategory? category.parentCategory.description : '--'}}
            </td>

            <td>

              <input type="checkbox" [(ngModel)]="category.isactive" (click)="active(category.id,!category.isactive)" />
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <!-- <div class="col-lg-8 mt-lg-0 mt-4" style="margin-left: 188px;background-color: #f9f9f9;"> -->


  <div [hidden]="show" class="card">
    <h5 class="ml-3 mt-3">
      <strong *ngIf="!(category.id > 0)" class="text"
        style="font-size: 23px;font-family: 'Poppins', sans-serif;margin-left: 34px;">Add Category</strong>
      <strong *ngIf="category.id > 0" style="margin-left: 33px;"> Edit Category:
        <strong class="text" style="font-size: 23px;font-family: 'Poppins', sans-serif;margin-left: 6px;">
          {{category.description}}</strong>
      </strong>
    </h5>
    <div class="card col-xl-10 ml-5" style="margin-top: 26px;">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="baseFullname">Category Name</label>
          <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="category.description"
              [ngClass]="{'is-invalid': submitted && category.description == ''}"
              placeholder="Enter Category Group Name..." />
          </div>
          <span *ngIf="submitted && category.description == ''" class="text-danger">*Name cannot be empty</span>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Parant Category</label>
          <div class="col-md-6">
            <select class="form-control" [(ngModel)]="category.parentCategoryId">
              <option value=null>Parent Category</option>
              <option *ngFor="let pcat of pcategories" value="{{pcat.id}}">{{pcat.description}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="formControlRange">Sort Order</label>
          <div class="col-md-6 pt-2">
            <input type="text" class="form-control" [(ngModel)]="category.sortOrder" name="example_name" />
          </div>
        </div>
        <button type="button" class="btn btn-secondary px-3" (click)="back()"><i nz-icon nzType="left" style="margin-right: 6px;"></i>
          Back</button>
        <button type="button" class="btn btn-success px-5 pull-right" (click)="save()">Save</button>
      </div>
    </div>

  </div>



  <!-- </div> -->

</div>





<!-- 
<div class="col-lg-8 mt-lg-0 mt-4">

  <div class="card">
    <div class="card-body">

    </div>
  </div>

</div> -->