<div *ngIf="mode == 'VIEW_LIST'" class="hk-pg-wrapper">

  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap align-items-center">
            <div class="mr-auto">
              <p class="text-uppercase text-dark font-weight-bold mb-1">
                Total Sales
              </p>
            </div>
            <p class="text-blue font-weight-bold font-size-24 mb-0">
              ₹ {{total}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap align-items-center">
            <div class="mr-auto">
              <p class="text-uppercase text-dark font-weight-bold mb-1">
                Tolal Payment
              </p>

            </div>
            <p class="text-success font-weight-bold font-size-24 mb-0">
              ₹ {{paid}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap align-items-center">
            <div class="mr-auto">
              <p class="text-uppercase text-dark font-weight-bold mb-1">
                Refunds
              </p>
            </div>
            <p class="text-danger font-weight-bold font-size-24 mb-0">
              ₹ {{totalrefund}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div style="position: relative;" class="input-group col-xl-6 align-middle">
          <span class="date-range-info">Showing receipts from {{formatter.format(fromDate) | date: 'MMM d, y'}} to
              {{formatter.format(toDate) | date: 'MMM d, y'}}</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="invoiceid"
              (keyup.enter)="getbyInvoice(invoiceid)"
              placeholder="To search, type the complete local receipt number and press enter." />
          <button *ngIf="invoiceid" class="btn btn-link btn-clear" (click)="clear()">
              <i class="fa fa-times"></i>
          </button>
          <div style="height: fit-content;" class="input-group-append">
              <button class="btn btn-primary" (click)="datepicker.toggle()"><i class="fe fe-calendar"></i></button>
          </div>
          <div class="form-group hidden">
              <div class="input-group">
                  <input name="datepicker" class="form-control hidden" ngbDatepicker #datepicker="ngbDatepicker"
                      [autoClose]="'outside'" (dateSelect)="onDateSelection($event, datepicker)" [displayMonths]="2"
                      [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
                  <ng-template #t let-date let-focused="focused">
                      <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                      </span>
                  </ng-template>
              </div>
          </div>
      </div> -->

  <div class="row">
    <div class="col-xl-4">
      <div>
        <input type="text" class="form-control" placeholder="Search Receipt.." [(ngModel)]="term"
          (input)="onKeySearch()">

        <div class="form-group hidden">
          <div class="input-group">
            <input name="datepicker" class="form-control hidden" ngbDatepicker #datepicker="ngbDatepicker"
              [autoClose]="'outside'" (dateSelect)="onDateSelection($event, datepicker)" [displayMonths]="2"
              [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <h6 class="pl-3">Showing receipts from {{strdate| date: 'MMM d, y'}} to
        {{enddate| date: 'MMM d, y'}}</h6>
    </div>
    <div class="col-xl-4">

      <nz-range-picker style="width: inherit;" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)">
      </nz-range-picker>


    </div>
    <br><br>
  </div>



  <nz-table class="kit__utils__table mb-4" #invoiceTable [nzShowPagination]="false" [nzPageSize]="25"
    [nzData]="invoices">
    <thead>
      <tr>
        <th>Invoice</th>
        <th>Customer Details</th>
        <th>Orderd At</th>
        <th class="text-right">Paid</th>
        <th class="text-right">Bill Amount</th>
        <th class="text-center">Payment Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of invoiceTable.data">
        <td *ngIf="data.Source == 'POS'">
          <img style="vertical-align: top;" class="px-2" src="{{data.icon}}" width="35" height="auto">
          <span style="display: inline-block;">
            <a href="javascript: void(0);" class="text-blue" (click)="selectInvoice(data)">{{data.InvoiceNo}}</a>
            <br> <i class="text-{{data.statusclass}}">{{data.statusname}}</i>
          </span>
        </td>
        <td *ngIf="data.Source == 'POS'">
          <span>
            <i class="fe fe-user"></i>
            {{data.CustomerDetails?.Name || '-'}}
          </span>
          <br>
          <span>
            <i class="fe fe-phone"></i>
            {{data.CustomerDetails?.PhoneNo || '-'}}
          </span>
        </td>
        <td *ngIf="data.Source == 'POS'">{{data.OrderedDateTime | date: 'MMM d, y, h:mm a'}}</td>

        <td *ngIf="data.Source == 'POS'" class="text-right">{{data.PaidAmount | number:".2"}}</td>
        <td *ngIf="data.Source == 'POS'" class="text-right">{{data.BillAmount | number:".2"}}</td>
        <td class="text-center" *ngIf="data.Source == 'POS'">
          <span
            class="text-center border border-{{data.payment_class}} bg-{{data.payment_class}} text-white px-2 rounded">
            {{data.payment_status}}
          </span>
        </td>

        <!-- ZOMATO -->
        <td *ngIf="data.Source == 'UP'">
          <img style="vertical-align: top;" class="px-2" src="{{data.icon}}" width="35" height="auto">
          <span style="display: inline-block;">
            <a href="javascript: void(0);" class="text-blue" (click)="selectInvoice(data)">{{data.InvoiceNo}}</a>
            <br> <i class="text-{{data.statusclass}}">{{data.statusname}}</i>
          </span>
        </td>
        <td *ngIf="data.Source == 'UP'">
          <span>
            <i class="fe fe-user"></i>
            {{data.customer?.name || '-'}}
          </span>
          <br>
          <span>
            <i class="fe fe-phone"></i>
            {{data.customer?.phone || '-'}}
          </span>
        </td>
        <td *ngIf="data.Source == 'UP'">{{data.OrderedDateTime | date: 'MMM d, y, h:mm a'}}</td>
        <td *ngIf="data.Source == 'UP'" class="text-right">{{data.PaidAmount | number:".2"}}</td>
        <td *ngIf="data.Source == 'UP'" class="text-right">{{data.BillAmount | number:".2"}}</td>
        <td class="text-center" *ngIf="data.Source == 'UP'">
          <span
            class="text-center border border-{{data.payment_class}} bg-{{data.payment_class}} text-white px-2 rounded">
            {{data.payment_status}}
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="5"></td>
        <td>
          <button class="btn btn-link float-right" (click)="next()">Next</button>
          <button class="btn btn-link float-right" (click)="previous()">Previous</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<!-- VIEW_INVOICE -->

<div *ngIf="mode == 'VIEW_INVOICE'" class="hk-pg-wrapper">
  <!-- <div class="row col-xl-12 mb-5">
      <div class="col-xl-9">

      </div>
      <div class="col-xl-3">
          <button class="btn btn-link" (click)="mode = 'VIEW_LIST'">
              <i class="fe fe-printer"></i>
          </button>
          <span>|</span>
          <button class="btn btn-link" (click)="mode = 'VIEW_LIST'">Cancel</button>
          <span>|</span>
          <button class="btn btn-link" (click)="mode = 'VIEW_LIST'">Back</button>
      </div>
  </div> -->
  <!-- POS -->
  <div *ngIf="invoice.Source == 'POS'" class="row col-xl-12">
    <div class="col-xl-4 font-larger">
      <strong class="text-dark">Invoice Details : - #<span class="text-danger">{{invoice.InvoiceNo}}</span></strong>
      <br>
      <!-- <span>
              
          </span> -->
      <br>
      <span>
        <i class="fe fe-user"></i>
        {{invoice.CustomerDetails?.Name || '-'}}
      </span>
      <br>
      <span>
        <i class="fe fe-phone"></i>
        {{invoice.CustomerDetails?.PhoneNo || '-'}}
      </span>
      <br>
      <span>
        <i class="fe fe-book"></i>
        {{invoice.CustomerDetails?.Address || '-'}}
      </span>
      <br>
      <span>
        <i class="fe fe-tag"></i>
        <span *ngFor="let kot of invoice.KOTS">
          <button class="btn btn-link font-larger" (click)="viewItems(kot)">#{{kot.KOTNo}}</button>
        </span>
      </span>
      <br>
      <br>
      <span *ngFor="let transaxn of invoice.transactions">
        <span class="text-success">₹{{transaxn.Amount}}</span> on <strong>{{transaxn.SPT}}</strong>
        <span class="ml-4">- {{transaxn.TransDateTime | date:"MMM d, y hh:mm a"}}</span>
      </span>
    </div>
    <div class="col-xl-8">
      <nz-table class="kit__utils__table mb-4 border border-info" #invoiceDetailTable [nzShowPagination]="false"
        [nzPageSize]="25" [nzData]="invoice.Items">
        <thead>
          <tr>
            <td class="p-3" colspan="2">
              <div>
                <strong class="text-dark">Status</strong>
                <span class="px-1 mx-1 text-white bg-{{invoice.statusclass}}">{{invoice.statusname}}</span>
                <span class="px-1 mx-1 text-white bg-{{invoice.payment_class}}">{{invoice.payment_status}}</span>
              </div>
            </td>
            <td class="p-3" colspan="2">
              <div class="float-right">
                <button class="btn btn-link" (click)="print(invoice)">
                  <i class="fe fe-printer"></i>
                </button>
                <span>|</span>
                <button *ngIf="roleid == 1" class="btn btn-link" (click)="cancelorder(invoice)">Cancel</button>
                <span *ngIf="roleid == 1">|</span>
                <button class="btn btn-link" (click)="mode = 'VIEW_LIST'">Back</button>
              </div>
            </td>
          </tr>
          <tr>
            <td class="p-3"><strong class="text-dark">Item</strong></td>
            <td class="p-3"><strong class="text-dark">Quantity</strong></td>
            <td class="p-3 text-right"><strong class="text-dark">GST</strong></td>
            <td class="p-3 text-right"><strong class="text-dark">Price</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr class="text-dark" *ngFor="let data of invoiceDetailTable.data">
            <td>{{data.showname}}</td>
            <td>{{data.Quantity}} {{(data.ComplementryQty > 0) ? ' + ' + data.ComplementryQty : ''}}</td>
            <td class="text-right">₹{{data.TaxAmount | number:".2"}}</td>
            <td class="text-right">₹{{data.TotalAmount | number:".2"}}</td>
          </tr>
          <tr class="text-dark">
            <td colspan="2"></td>
            <td class="text-right"><strong class="text-dark">Subtotal</strong></td>
            <td class="text-right">₹{{invoice.subtotal | number:".2"}}</td>
          </tr>
          <tr *ngIf="(invoice.AllItemTotalDisc + invoice.OrderTotDisc) > 0" class="text-dark">
            <td colspan="2"></td>
            <td class="text-right"><strong class="text-dark">Discount</strong></td>
            <td class="text-right">-₹{{invoice.AllItemTotalDisc + invoice.OrderTotDisc | number:".2"}}
            </td>
          </tr>
          <tr class="text-dark" *ngIf="invoice.Tax1 > 0">
            <td colspan="2"></td>
            <td class="text-right"><strong class="text-dark">CGST</strong></td>
            <td class="text-right">₹{{invoice.Tax1 | number:".2"}}</td>
          </tr>
          <tr class="text-dark" *ngIf="invoice.Tax2 > 0">
            <td colspan="2"></td>
            <td class="text-right"><strong class="text-dark">SGST</strong></td>
            <td class="text-right">₹{{invoice.Tax2 | number:".2"}}</td>
          </tr>
          <tr class="text-dark">
            <td colspan="2"></td>
            <td class="text-right"><strong class="text-dark">Total</strong></td>
            <td class="text-right">₹{{invoice.BillAmount | number:".2"}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <!-- UP -->
  <div *ngIf="invoice.Source == 'UP'" class="row col-xl-12">
    <div class="col-xl-4">
      <strong class="text-dark">Invoice Details</strong>
      <br>
      <span>
        #{{invoice.InvoiceNo}}
      </span>
      <br>
      <span>
        <i class="fe fe-user"></i>
        {{invoice.customer?.name || '-'}}
      </span>
      <br>
      <span>
        <i class="fe fe-phone"></i>
        {{invoice.customer?.phone || '-'}}
      </span>
      <br>
      <span>
        <i class="fe fe-book"></i>
        {{invoice.customer?.address.line_1 || '-'}}
      </span>
      <br>
      <!-- <span>
              <i class="fe fe-tag"></i>
              <span *ngFor="let kot of invoice.KOTS">
                  <button class="btn btn-link font-larger" (click)="viewItems(kot)">#{{kot.KOTNo}}</button>
              </span>
          </span> -->
      <!-- <br> -->
      <!-- <br>
          <span *ngFor="let transaxn of invoice.transactions">
              <span class="text-dark">₹{{transaxn.Amount}} on <strong>{{transaxn.SPT}}</strong></span> <br>
              <span class="ml-4">- {{transaxn.TransDateTime | date:"MMM d, y hh:mm a"}}</span>
          </span> -->
    </div>
    <div class="col-xl-8">
      <nz-table class="kit__utils__table mb-4 border border-info" #invoiceDetailTable [nzShowPagination]="false"
        [nzPageSize]="25" [nzData]="invoice.order.items">
        <thead>
          <tr>
            <td class="p-3" colspan="2">
              <div>
                <strong class="text-dark">Status</strong>
                <span class="px-1 mx-1 text-white bg-{{invoice.statusclass}}">{{invoice.statusname}}</span>
                <span class="px-1 mx-1 text-white bg-{{invoice.payment_class}}">{{invoice.payment_status}}</span>
              </div>
            </td>
            <td class="p-3" colspan="2">
              <div class="float-right">
                <button class="btn btn-link" (click)="print(invoice)">
                  <i class="fe fe-printer"></i>
                </button>
                <span>|</span>
                <!-- <button *ngIf="roleid == 1" class="btn btn-link"
                                  (click)="mode = 'VIEW_LIST'">Cancel</button>
                              <span *ngIf="roleid == 1">|</span> -->
                <button class="btn btn-link" (click)="mode = 'VIEW_LIST'">Back</button>
              </div>
            </td>
          </tr>
          <tr>
            <td class="p-3"><strong class="text-dark">Item</strong></td>
            <td class="p-3"><strong class="text-dark">Quantity</strong></td>
            <td class="p-3 text-right"><strong class="text-dark">GST</strong></td>
            <td class="p-3 text-right"><strong class="text-dark">Price</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr class="text-dark" *ngFor="let data of invoiceDetailTable.data">
            <td>{{data.title}}</td>
            <td>{{data.quantity}}</td>
            <td class="text-right">₹{{data.total_with_tax - data.total | number:".2"}}</td>
            <td class="text-right">₹{{data.total | number:".2"}}</td>
          </tr>
          <tr class="text-dark">
            <td colspan="2"></td>
            <td class="text-right"><strong class="text-dark">Subtotal</strong></td>
            <td class="text-right">₹{{invoice.order.details.order_subtotal | number:".2"}}</td>
          </tr>
          <tr *ngIf="invoice.order.details.discount > 0" class="text-dark">
            <td colspan="2"></td>
            <td class="text-right"><strong class="text-dark">Discount</strong></td>
            <td class="text-right">-₹{{invoice.order.details.discount -
              invoice.order.details.total_external_discount | number:".2"}}</td>
          </tr>
          <tr *ngIf="invoice.order.details.total_taxes > 0" class="text-dark">
            <td colspan="2"></td>
            <td class="text-right"><strong class="tex-dark">CGST</strong></td>
            <td class="text-right">₹{{invoice.order.details.total_taxes/2 | number:".2"}}</td>
          </tr>
          <tr *ngIf="invoice.order.details.total_taxes > 0" class="text-dark">
            <td colspan="2"></td>
            <td class="text-right"><strong class="text-dark">SGST</strong></td>
            <td class="text-right">₹{{invoice.order.details.total_taxes/2 | number:".2"}}</td>
          </tr>
          <tr *ngFor="let charge of invoice.order.details.charges" class="text-dark">
            <td colspan="2"></td>
            <td class="text-right"><strong class="text-dark">{{charge.title}}</strong></td>
            <td class="text-right">₹{{charge.value | number:".2"}}</td>
          </tr>
          <tr class="text-dark">
            <td colspan="2"></td>
            <td class="text-right">Total</td>
            <td class="text-right">₹{{invoice.BillAmount | number:".2"}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<!-- MODALS -->
<ng-template #items_modal let-modal>
  <div class="modal-header" style="border-bottom: none;">
    <h5 class="modal-title" id="modal-basic-title">#{{KOT.KOTNo}} Items</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <div>
          <button class="btn btn-link float-right"><i class="fe fe-printer"></i></button>
      </div> -->
    <div *ngFor="let item of KOT.Items" class="row w-100">
      <span class="col-sm-8">{{item.showname}}</span>
      <span class="col-sm-4">x {{item.Quantity + item.ComplementryQty}}</span>
    </div>
  </div>
  <!-- <div class="modal-footer" style="border-top: none;">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Print</button>
  </div> -->
</ng-template>